@for $i from 1 through 10 {
  .noti#{$i} {         

      grid-area: noti$i; 
      text-align: center; 
  }
}
.noticia{
    &__borde {
      max-width: 100%;
      height: auto;
      margin-top: 15px;
    }
    &__bordeI {
    border-left: 1px solid #dee2e6;
    }
    &__bordeD {
      border-right: 1px solid #dee2e6;
      }
    &__titulo {
      background-color: rgb(255, 255, 255);
    }
    &__Centrado {
      text-align: center;
      font-weight: 600;
    }
  }


// @for $i from 1 through 10 {
//     .casitodos-#{$i} { 
//         width: 2em * $i; 
//         width: $i *3%;
//     }
//   }


$fondo: ( /*Declaro */
        Blanco: #ffffff,
        Negro:  #0e0e0e,
        Gris:  #5f5f5f,
        Azul:  #2600ff,
        Celeste:#7cebff,
        Naranja:#ff7300,
        Verde:  #15e230,
        Amarillo: #e5ff00,
        Rojo: #ff0000
);
/*Creamos el bucle para usar los valores del mapa*/
@each $red, $color in $fondo {
   .fondo#{$red} {
       background-color: $color;
   }
}

.ajustaImagen {
  max-width: 100%;
  height: auto;
}

.video {
  position: relative;
  width: 100%;
}
.video::before {
  display: block;
  padding-top: var(--bs-aspect-ratio);
  content: "";
}
.video > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-1x1 {
  --bs-aspect-ratio: 100%;
}

.video-4x3 {
  --bs-aspect-ratio: calc(3 / 4 * 100%);
}

.video-16x9 {
  --bs-aspect-ratio: calc(9 / 16 * 100%);
}

.video-21x9 {
  --bs-aspect-ratio: calc(9 / 21 * 100%);
}

.carrusel{
  .carrusel--fondoClaro {
  background-color: rgba(255, 255, 255, 0.5);
  color: rgb(0, 0, 0);
  lighting-color: white;
  h2 {
  font-weight: 700;
  }
  }
}



.error_contenedor{
  height: 500px;
  width: 100%;
  position: relative;
  display: inline-block;
  background-image: url(../img/homer.gif);
  

    .error{
      text-align: center;
      margin: auto; 
      transform: translate(50%, -300px); 
      font-size: 100 rem;
      background-color: rgb(255, 255, 255);

    }
}
.fondoImagen {
  background-image:  url("../img/homer.gif"),
url("../img/homer.gif");
}



.contenedorNoticia{
  .card {
    height: 100%;
  }
  .btn{
    background-color: #eae6e68f;
    padding: 5px 20px;
  &:hover{
  background-color: #6464648f;
  padding: 5px 20px;
  color: white;
}
}
h1{
  font-size: 2rem;
  }
  &__incluido{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: rgba(rgb(0, 0, 0), 0.5);
    margin: 0;
   h4{
  text-align: center;
  color: white;
  font-size: 1.2rem;
  &:hover{
  color: #2600ff;
  }
  }
  }
  .imagenes{
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
  .imagenes2{
    width: 100%;
    // height: 500px;
    object-fit: cover;
  }
}

.espacio{
  margin-left: 10px;
  margin-bottom: 2px;
}
.espacio:focus{
  box-shadow: 0 0 0 0.05rem;
}




  .bordeNoticia{
    padding-bottom: 1.5625rem;
    margin-bottom: 1.5625rem;
    border-bottom: 1px solid #d9d9d9;
    }


