
footer {
    grid-area: footer; 
    width: 100%;
    
    a {
        color: rgb(201, 201, 201);
        text-decoration:menu;
        font-weight: bold;
    }

    .footer__Fondo {
        margin-bottom: 15px;
        background-color: #272727;
        color: rgb(255, 255, 255);
    }

    .footer__Centrado {
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .espacioArrriba {
        margin-top: 10px;
        font-weight: bold;
        margin-bottom: 15px;
    }
    
    ul {
        margin-bottom: 0rem;
    }
}

