
header {
  animation-duration: calc(8s / 4);
  animation-name: aparecer;

  .header__centrado {
    text-align: center;
    margin: auto;
  
  }
}

@keyframes aparecer {
    0% {
      opacity: 0.3;
    }
    100% {
      opacity: 1;
    }
}

nav {                                         /*MENU */

  .espacio{
    margin-left: 10px;
    margin-bottom: 2px;
  }
  .espacio:focus{
    box-shadow: 0 0 0 0.05rem;
  }
  li :hover{
    background-color: rgb(228, 228, 228);
    color: black;
    animation-duration: calc(8s / 8);
    animation-name: aparecer;
  }
  .imagenLogo2{
    height: 30px;
    margin-right: 10px;
    margin-left: 15px;
  }
  .menuEspacio{
    padding-left: 10px;
  }
  .menuMin{
    padding: 0.3rem 0.5rem;
  }
}

.menu{
  &--fondo {
    background-color:  #ffffff ;
  }
  
  &--Centrado {
    text-align: center;
  }
}