
header {
  grid-area: header;
  animation-duration: calc(8s / 4);
  animation-name: aparecer;

  .header__centrado {
    text-align: center;
    margin: auto;
  
  }
}

@keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}


nav {                                         /*MENU */
  grid-area: nav;
}
nav li :hover{
  background-color: rgb(3, 0, 29);
}

// nav ul li {
//   border-right: 1px solid rgb(88, 88, 88);
  
// }



.menu{
  &--fondo {
    background-color:  #272727 ;
  }
  
  &--Centrado {
    text-align: center;
  }
}
.imagenLogo{
height: 100px;

  }

.menuMin{
  padding: 0.3rem 0.5rem;
  }
.menuEspacio{
  padding-left: 10px;
}

.imagenLogo2{
  height: 30px;
  margin-right: 10px;
  margin-left: 15px;
    }
