$PaddingsTipo: (
  pa: padding,
  pt: padding-top,
  pr: padding-right,
  pb: padding-bottom,
  pl: padding-left
);
$espacio: (
  0: 0px,
  5: 5px,
  10: 10px
);
@each $classType, $type in $PaddingsTipo {
    @each $classSize, $size in $espacio {
        .#{$classType}-#{$classSize} {
            #{$type}: #{$size};
        }
    }
}




@import "_bootstrap";
@import "_header";
@import "_footer";
@import "_body";
@import "_publicidad";




* {
    margin: 0px;
}

a{
    color: black;
    text-decoration:menu;
    font-weight: bold;
    font-size: 20px;
}
a :hover{
    color: rgb(97, 97, 97);
    
}

.card a :hover{
    color: rgb(199, 199, 199);
    
}